<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script></script>
</head>
<body>
    <div class="content">
        <canvas></canvas>
        <script type="text/javascript" src="app/index.js"></script>
    </div>
</body>
</html>